.trackitem_title {
  color: $color-primary-text;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

.trackitem_moreinformation {
  color: $color-primary-text;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  display: flex;
  direction: row;
  justify-content: space-between;
}

.trackitem_icon .trackitem_duration {
  display: flex;
  justify-content: center;
}

.trackitem_duration_text {
  color: $color-primary-text;
  font-size: 16px;
  line-height: 18px;
}
